#footer .left
{
position: absolute;
left: 2.0em;
}

#footer .right
{
position: absolute;
right: 2.0em;
}

span.db
{
    font-family: "Gill Sans", "Century Gothic",  "Futura", "URW Gothic L", "Trebuchet MS", sans-serif;  
    color: #1d6186;   
}
span.cxi
{
    font-family: "Gill Sans", "Century Gothic",  "Futura", "URW Gothic L", "Trebuchet MS", sans-serif;  
    font-weight: lighter;
    color: #d28325;
}

div.fragment
{
    padding: 8px;
    background-color: #F4F6F7;
#    border-color: #D4D6D7;
    margin: 8px;
    border-radius: 4px;
}

code
{
    color: #d28325;

}

span.blue
{
    color: #1d6186;   
    font-weight: bolder;
    font-family: monospace;
}
span.orange
{
    color: #d28325;
    font-weight: bolder;
    font-family: monospace;
}

div.image
{
    text-align: left;
}

div.image img[src="minimal_cxi.png"]{ 
    width:400px; 
}

div.image img[src="lcls_camp_cxi.png"]{ 
    width:450px; 
}